$mobile-width: 24em	!default;
$mobile-opacity: .7	!default;
$middle-width: 960px !default;

body {
	--middle-width: #{$middle-width};
}

body[data-width="infinite"] {
	--middle-width: 100%;
}

body[data-width="narrow"] {
	--middle-width: 42em;
}

center {
	max-width: var(--middle-width); // see drawer.scss
	margin: 0 auto;
	padding: 1rem;
}

.ml-drawer-inside {
	padding: 1em;
	margin: 3em auto;
	border-radius: 1em;
	overflow: auto;
	max-width: calc(min(224px, 100%));
	backdrop-filter: blur(6px);
}

.ml-drawer {
	position: fixed;
	left: 0;
	inset-inline-start: 0;
	top: 0;
	height: 3rem;
	background-color: color-mix(in lch, var(--color-background), transparent);
	z-index: 1;

	&[open] {
		height: 100%;
		overflow: auto;
	}

	&[open] > summary {
		transform: rotate(-90deg);
	}

	& > summary {
		background: var(--color-background);
		position: fixed;
		top: 10px;
		left: 10px;
		inset-inline-start: 10px;
		width: 2rem;
		height: 2rem;
		text-align: center;	
		line-height: 2rem;
		font-size: 2rem;
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	#advanced {
		display: flex;
		justify-content: space-evenly;
	}
}

$drawer-width: 224px;
$drawer-offset: $drawer-width + 16px;

.ml-drawer[open] {
	width: 100%;
	z-index: 10;
}

@media screen and (min-width: $middle-width) {
	.ml-drawer[open] {
		width: $drawer-width;
	}
	
	.ml-drawer[open] + center {
		padding-inline-start: $drawer-width;
	}

	body.cmt center {
		padding-inline-end: $drawer-width;
	}

	body.cmt .footnote-definition, body.cmt .cmt-stallable {
		display: flex;
		inset-inline-start: 100%;
		top: anchor(--blog-entry start);
		position: absolute;
		width: $drawer-width;
	}
	
	body.cmt .cmt-stallable .sep {
		display: block;
		&::before {
			content: none;
		}
	}
}

.cmt-stallable .sep::before {
	content: '/';
	margin-inline: 4px;
}

$drawer-makeup: ($middle-width + $drawer-offset);
@media screen and (min-width: $drawer-makeup) {
	.ml-drawer {
		inset-inline-start: calc(50% - (($drawer-offset + var(--middle-width)) / 2) - 1em);
	}
	body.cmt .ml-drawer {
		inset-inline-start: calc(50% - ((2 * $drawer-offset + var(--middle-width)) / 2) - 1em);
	}
	body.advanced-vertical .ml-drawer {
		left: 2em;
	}
}

body[data-width="infinite"] .ml-drawer {
	inset-inline-start: 0;
	top: 0;
}

blog-entry {
	anchor-name: --blog-entry;
	anchor-scope: --blog-entry;
}

.ml-toc, .ml-toc-sub, .ml-bookmark {
	margin: 0;
	padding: 0;
}

.ml-toc, .ml-toc-sub  {
	padding-inline-start: 1em;
}

.ml-toc-1 > .ml-toc-sub, .ml-toc-2 > .ml-toc-sub {
	padding-inline-start: 0;
	margin-bottom: 2px;
}

.ml-menu-button:hover, .ml-bookmark a:hover, .ml-block-anchor:hover, .ml-page-list a:hover {
	background: var(--color-indication);
}

.ml-drawer, .ml-toc a {
	color: var(--color-normal);
}

.ml-toc-1 > a, .ml-toc-2 > a, .comments a {
	color: var(--color-heavy);
}

.ml-bookmark {
	text-align: center;
	padding: 1em;
}

.ml-bookmark a {
	display: block;
	width: 100%;
	line-height: 2.5em;
}

:root .ml-temp-btn {
	border-bottom: none;
}

.ml-author-image {
	display: flex;
	justify-content: space-around;

	img {
		display: block;
		border: 1px solid var(--color-normal);
		padding: 2px;
		max-width: 128px;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}
}

.ml-menu-button {
	color: inherit;
	background: inherit;
	font-size: 2em;
	padding-inline: 4px;
}