$header-height: 9em !default;
$link-change-time: .3s !default;
$middle-width: 60rem !default;
// TIPS: 若调整 $middle-width 请同步修改 drawer.scss 中 .ml-drawer 之宽度 

.ml-article, footer, h1, .skip-link {
	max-width: $middle-width;
	margin: 0 auto;
	padding: 1rem;
}

pre {
	max-width: 100%;
	overflow: auto;
}

#endmark {
	margin-block-end: 4em;
	width: 2em;
	height: 2em;
	display: inline-block;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAA9VJREFUaIHt2VuIVXUUx/HPGW1qrKzUScaJppLEhyyt7GZQFiWaIlFQdH0oioqKKOihiwNJSOBDF8qKLAmjC2hamQRqPUTaxS5UgxXYkGlZRpMxpmbTw9qHI3lmzt57zjnz0PnCZmDP/7LW/q/fWus/Q4MGDRo0+D9TqMMeR+MqtGEJvsadmJ5i7jo8OtCApsFal4L7hMFT8Fby7nycWWHe2Tindmalo4BuXI8zsAfD8QZeqTB3dYoxhmc0qEmEQiV+TH5OQjvexJXowt/4A39l3LssWR1ow5YU44raugQbsAOXii9PhFRVyOpAkcnYnmLcTLyNUTgP9ybvf8257wHkdWA7tlUYc6QQ4l2Yja3YmHO/fqllFrpYfOmNIv6Xo6/am9TSgZkikxwjnHmhFpvUyoECZoj4vxEf47MU80bjJazF1DQb5dVAJU5Fa2LIQnSmnPcPdiZPN96vtmHtIo4r1YL5eFeItweHVduQvKR14FvcjJV4qspr15yp2CtqxV6clnJem3BgXJbNaiHiW7FKhM8X+CTlvGKKzdQh9yfiCaJj/B0/i3xefPYNsF4Hrhat8hI8ksGWqjpwIR4r8/s+JUe68Q024SN8jqexJpnXKlJiWnI5MBCH4gI8iHdENulLnj+FUFeKHL9HdJfbRCwvxqKM+7Umax9bBdvLMky0xzfheXwvHHlINGszcFIy9m78hLMyrD9GONBRHXMr0ySE+p0Q7f4UsECczEKMSLHeaOHAcdUzMR1zlS4nw3C5uAfDNHGJ2SJaioEq/yjhwPG1MbM8Y7AZD+MI0fvsFg4txsloxu0im3WJi005oR4lHBhfc6sTRmI93sNEfCWy0TiRgpeL6+ManIvDRU+0Ex+IC86QcQK+xIeYg1/wmgNjfTyeFFp4HSdiLB4XJ7UKp9TH5BLThcGv4jYRLvMNnL8nYBl2YR4OFh9hqTilpeog3pFKX3OBKFq9uCbDGrOEZrpwevJusrj49IoQa6mOuSUKuAI/iGp7Az4V6TPP8Y8QVX63uOQX+7E5yZqbcdHgTC4xTQiuRxz9PBEyz4kTIYpZlqfILJGZ1oprJxFanYlzi4Twc9GBl0W4rBZfbKvof2bnXbQMY4WQd+Cy/d5PEZ3sJqGf1BTEn0F6RU7el/xcLwpR86BNLr/nHULgz4oeDA7Bi/hNpOWKNOMBrMAzuF9U1faqmts/k0Rq7hLCLtIpQrju6TYPLSLT7cI9SgJ/Qgj8oCGyKzNzhcDXifrQIjR43X8H1uP/A3lYIUKqR4j5FnH/mDiURuXlWlF/Nqhzp9qgQYM68C8oj+F9ctpajwAAAABJRU5ErkJggg==);
	background-size: cover;
	border: none;
}