<footer>
	<img src="/img/wordmark.svg" alt="This is mat-ling.fit">
	<div class=ml-footer>
		<p class=ml-smaller>
			© 2011 {{ config.title }}
			<a rel=copyright href=https://creativecommons.org/licenses/by-nd/4.0>CC BY-ND 4.0</a>
			<br><a href="https://icp.gov.moe/?keyword=20243727" target="_blank">萌ICP备20243727号</a>
			(<a href="https://travel.moe/go.html" nofollow>Go Wild ☈</a>)
			<br>Powered by <a href=//www.getzola.org>Zola</a> theme <a href=https://github.com/0xis-cn/2038>2038</a>
		</p>
		<i class=dropdown-wrapper id=advanced></i>
	</div>
</footer>
