{%- assign lang = page.lang | default: site.lang | default: 'en' -%}
{%- assign info = site.data.theme-2038-i18n | map: lang | first -%}
{%- if page.comments -%}
	<script defer src="{{ '/assets/js/mastodon-comments.js' | relative_path }}"></script>
	<section class=comments data-url="{{ page.comments }}">
		<p class=ml-article>{{ info.comment-invitation | replace: 'TOOT', page.comments }}</p>
		<template>
			<article>
				<img class=avatar />
				<div class="ml-smaller">
					<a class="user"></a>
					<time class="timestamp"></time>
					<span class="tidbits"></span>
					<a class="link" title="Post">⎋</a>
				</div>
				<div class="content"></div>
			</article>
		</template>
	</section>
{%- endif -%}
