{%- if page.collection != "posts" -%}
{%- assign item = post -%}
{%- else -%}
{%- assign item = page -%}
{%- endif -%}
{%- assign t2038 = site.theme-2038 -%}
{%- assign clink = t2038.category-links -%}
{%- assign tlink = t2038.tag-links -%}
<p class="ml-smaller">
	<time datetime="{{ item.date | date: '%Y-%m-%d' }}" pubdate>
		{{ item.date | date: '%s' | minus: 1304092800 | divided_by: 86400 }} DM
	</time>
	({{ item.date | date: '%-d %b %Y' }}) {{ item.ciemmwue | default: 'civitate terrena' }} &ensp;
	{% if item.categories.size != 0 or item.tags.size != 0 -%}
		{%- if item.categories.size != 0 -%} &#9585;&nbsp;{{ item.categories | array_to_sentence_string }} &ensp; {% endif -%}
		{%- if item.tags.size != 0 -%}
		&#8983;&nbsp; {%- endif -%}
		{% for tag in item.tags -%}
		{% assign tescape = tag | uri_escape -%}
		{%- assign now-array = tlink | map: tag -%}
		{%- if now-array.size == 0 -%}
		<a rel="index" href="
			{{ t2038.tag-dir | default: '/tags/' | append: tescape | relative_path }}
			">{{ tag }}</a>
		{%- else -%}
		<a rel="index" href="{{ now-array | first }}">{{ tag }}</a>
		{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
</p>