{%- assign lang = page.lang | default: site.lang | default: 'en' -%}
{%- assign info = site.data.legacy.i18n | map: lang | first -%}
{%- assign t2038 = site.theme-2038 -%}

<details class="ml-drawer">
	<summary class="ml-menu-button">≡</summary>
	<div class="ml-drawer-inside">
		<a href="/" class="ml-author-image">
			<img src="/assets/img/cloak.png" alt="Hi, I'm Matling~">
		</a>
		<ul class="ml-bookmark">
		{%- for item in t2038.drawer-links -%}
			<li><a href="{{ item.url }}" {% if item.url contains "https://" %}target="_blank"{% endif %}>
				{%- include pick-language.html text=item.name -%}
			</a></li>
		{%- endfor -%}
		</ul>
		{%- unless page.no-toc -%}
		<details open>
			<summary>{{ info.toc }}</summary>
			{% include toc.html html=content class='ml-toc'
			submenu_class='ml-toc-sub' item_class='ml-toc-%level%' %}
		</details>
		{%- endunless -%}
	</div>
</details>
