body {
	background: var(--color-background);
	color: var(--color-normal);
	font: 300 1em / 1.5 var(--base-font); 
	scroll-behavior: smooth;
}

body.dark-mode {
	--color-background:		black;
	--color-base:			white;
	--color-card:			#161413;
	--color-indication:		#2a2523;
	--color-normal:			#c7c2be;
	--color-levity:			#999;
	--color-heavy:			#E6E6DC;
	--color-atlarge:		#666;

	.ml-wordmark {
		filter: invert(1) hue-rotate(180deg);
	}
	@import 'jellybeans/dark.scss';
	color-scheme: dark;
}

body {
	--color-background:		#F6F5F0;
	--color-base:			black;
	--color-card:			white;
	--color-indication:		#E6E5E0;
	--color-normal:			#59453f;
	--color-levity:			#79655f;
	--color-heavy:			#161413;
	--color-atlarge:		#999;
	--base-font: Mulish, "Noto Sans CJK SC", system-ui, sans-serif;
	--serif-font: "DejaVu Serif", Georgia, "Noto Serif CJK SC", serif;
	@import 'jellybeans/light.scss';
}

body.serif {
	font-variant-numeric: lining-nums;
	font-family: var(--serif-font);
}

@import './reset.scss';
@import './typo.scss';
@import './old.scss';
@import './drawer.scss';
@import './resize.scss';

body.advanced-vertical {
	@import './vertical.scss';
}

@font-face {
	font-family: Matding;
	src: url(/assets/matding.ttf);
}
