$header-height: 9em !default;
$link-change-time: .3s !default;
$middle-width: 960px !default;
// TIPS: 若调整 $middle-width 请同步修改 drawer.scss 中 .ml-drawer 之宽度 

main {
	padding: $header-height 0 4em;
}

h1, .ml-article, footer, .comments {
	max-width: $middle-width;
	margin: 0 auto;
}

@media screen and (max-width: 959px) {
	main {
		padding: $header-height 1em 4em;
	}
}

.highlight {
	max-width: 100%;
	overflow: auto;
}
