&, main {
	padding: 0;
}

main {
	writing-mode: vertical-rl;
	line-height: 2;
	margin: 6em;
}

.ml-article {
	max-width: unset;
}

.ml-drawer {
	writing-mode: horizontal-tb;
}

.ml-article a {
	border-right: 1px solid var(--color-levity);
	border-bottom: none;
}

p, table {
	margin: 0;
	max-width: unset;
}

.ml-footer {
	position: fixed;
	bottom: 0;
	left: 2em;
	right: 2em;
}

footer img {
	position: fixed;
	left: calc(50vw - 120px);
	top: 2em;
}

.ml-title {
	margin: 0;
	margin-right: 3rem;
}
