main {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow: auto;
	padding: 5em;
	writing-mode: vertical-rl;
	line-height: 2;
}

.ml-article {
	max-width: unset;
}

.ml-drawer {
	writing-mode: horizontal-tb;
}

.ml-article a {
	border-right: 1px solid var(--color-levity);
	border-bottom: none;
}

p, table {
	margin: 0;
	max-width: unset;
}

.ml-article>p {
	text-indent: 2em;
}

footer {
	position: fixed;
	bottom: -1.5em;
	left: 0;
	right: 0;
}

footer>img {
	position: fixed;
	left: calc(50vw - 120px);
	top: 2em;
}

.ml-title, blockquote {
	margin: 0;
}

blockquote {
	border-left: 0; 
	padding-left: 0;
	padding-top: 2em;
}

.ml-article h2, .ml-article h3, .ml-article h4 {
	margin-top: 0;
	line-height: 2rem;
}

.ml-article h2 {
	margin-right: 2rem;
}
