---
---
$pole-width: 8rem;
$big-width: 60rem;

#top-wrapper, .ml-footer{
	margin: 0 auto;
	max-width: $big-width;
}
#top-wrapper {
	position: relative;
	padding-right: $pole-width;
	min-height: 36rem;
}

#top-wrapper::before {
	position: absolute;
	z-index: -1;
	background: url(/assets/hello-page.svg) no-repeat right 2em bottom;
	content: '';
	height: 100%;
	width: 100%;

	.dark-mode & {
		filter: invert(1);
	}
}

@media screen and (max-width: 540px) {
	body #top h1 {
		font-size: 3rem;
	}
	#top-wrapper {
		padding-right: 3rem;
		&:before {
			background-position-x: calc(100vw - $pole-width);
		}
	}
}

#top {
	padding-top: 6rem;
	margin-left: 2rem;
}

#top h1 {
	max-width: 8em;
	font-size: 4rem;
	line-height: 1.125;
	margin: 2rem 0;
}

#tagline {
	font-size: 1.5rem;
	max-width: 30em;
}

#suli {
	padding: 1em;
	align-items: center;
}

#suli img {
	width: 4em; 
}

#suli li {
	display: inline-block;
}
#suli a {
	padding: 0 1em;
	color: inherit;
	border-bottom: none;
	text-transform: uppercase;
}
@media screen and (min-width: 540px) {
	#top img {
		width: 12.5rem;
	}
}
#anzo h1 {
	text-align: center;
	letter-spacing: 12px;
	text-indent: 12px;
	padding-top: 32px;
	font-size: 24px;
	text-transform: uppercase;
}
#anzo {
	position: relative;
}
#anzo:before, #anzo:after {
	width: 0;
	height: 0;
	border-width: 24px 48px 0;
	border-style: solid;
	content: '';
	border-color: transparent;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#anzo:before {
	border-top-color: var(--color-normal);
	top: 1.5px;
}
#anzo:after {
	border-top-color: var(--color-background);
	top: 0;
}

/*
.ml-card-list {
	margin: 0 2em 0 3em;
}
.ml-card-list dd {
	display: flex;
	flex-wrap: wrap;
}
.ml-card-anchor {
	box-sizing: border-box;
	padding: 1rem;
	font-size: 18px;
	width: 320px !important;
	flex-grow: 1;
	margin: 4px;
}
.ml-card-anchor h2 {
	font-size: 2rem;
	line-height: 2em;
	text-align: center;
}
.ml-card-anchor img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
*/
