---
layout: page
no-toc: true
lang: en
---
{%- for post in paginator.posts -%}
<div {% if post.lang %}lang="{{ post.lang }}"{% endif %}>
	<h3>
		<a href="{{ post.id }}">{{ post.title }}</a>
	</h3>
	{{ post.excerpt }}
	<p class=ml-smaller>{% include datetime.html %}</p>
	{%- assign content = post.content | strip_html -%}
	{%- assign len = content | number_of_words -%}
	{%- assign lang = post.lang | default: site.lang | default: 'en' -%}
	{%- assign info = site.data.legacy.i18n | map: lang | first -%}
	{%- assign padding_languages= "cmn lzh" | split: " " -%}
	{%- if padding_languages contains lang -%}
		{%- assign len = content | split: "" | where_exp: "i", "i >= '一' and 'ꀀ' > i " | size | plus: len -%}
	{%- endif -%}
	<a class=ml-temp-btn href="{{ post.id }}">{{ info.btn_read | replace: 'LEN', len }} ⋙</a>
</div>
{%- endfor -%}
<nav class=ml-chokolate>
	{%- if paginator.next_page -%}<a href="{{ paginator.next_page_path }}">〈Older</a>
	{%- else -%}<span>Ø</span>{%- endif -%}
  {%- if paginator.previous_page -%}<a href="{{ paginator.previous_page_path }}">Newer〉</a>
	{%- else -%}<span>Ø</span>{%- endif -%}
</nav>
