{% extends "blog-section.html" %}
{% import "macros.html" as macros %}
{% block content %}
<div style="padding:1em;border:1px solid var(--color-levity)">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Gregory_B._Newby_of_Project_Gutenberg.jpg/250px-Gregory_B._Newby_of_Project_Gutenberg.jpg" loading=lazy style="margin-inline:auto;display:block">
<p><a href="https://petascale.org/">Dr Gregory B Newby</a>, CEO of Project Gutenberg Literary Archive Foundation of over twenty years, died after a short battle with cancer.
He drove the release of 75,000+ ebooks as a key volunteer, co-created an AI-narrated audiobook collection honoured by TIME, and advanced supercomputing technology.
His work on public access to literature will be deeply missed.
<p class=ml-smaller>Picture from Project Gutenberg, CC BY 4.0 (<a href="https://www.gutenberg.org/about/newby.html">source</a>)
</div>
{% endblock content %}