{% extends "fault.html" %}
{% import "macros.html" as macros %}
{% block body %}
<a class=skip-link href=#ml><span>{{ trans(key="skip_link", lang=lang) }}</span></a>
{{ macros::drawer(lang=lang) }}
<center>
<main class="ml-article">
{% for post in paginator.pages %}
<section>
    {% if section.content %}<article>{{ section.content | safe }}</article>{% endif -%}
    <h3><a href="{{ post.path }}">{{ post.title }}</a></h3>
    {{ post.summary | safe }}
    {{ macros::ciemmwue(page=post) }}
    <a title="{{ post.title }}" class="ml-temp-btn" href="{{ post.path }}">
        {%- set len = post.word_count | as_str -%}
        {{ trans(key="btn_read", lang=macros::lang(page=post)) | replace(from='LEN', to=len) }} ⋙
    </a>
</section>
{% endfor %}
<nav class=ml-chokolate>
<div>{%- if paginator.previous -%}<a rel=prev href="{{ paginator.previous }}">Newer</a>{%- endif -%}
</div><div>{%- if paginator.next -%}<a rel=next href="{{ paginator.next }}">Older</a>{%- endif -%}
</div>
</nav></main></center>{% include "p/footer.html" %}
{% endblock body %}