<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
		<title>
			{%- if page.title -%}
				{{ page.title }} «
			{%- endif %}
			{{ site.title }}
		</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
		<meta name="theme-color" content="#c09a97">
		<script defer src="{{ "/assets/js/theme.js" | relative_url }}"></script>
		{{ page.custom-head }}
		{%- if page.formula -%}
  		<script defer src="https://cdn.jsdelivr.net/gh/asciimath/asciimathml@latest/ASCIIMathML.js"></script>
		{%- endif -%}
  </head>
  <body class=serif>
		<script src="{{ "assets/js/immediate.js" | relative_url }}"></script>
    {{ content }}
  </body>
</html>
