<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
		<title>
			{%- if page.title -%}
				{{ page.title }} |
			{%- endif %}
			{{ site.title }}
		</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
		<script defer src="{{ "/assets/js/theme.js" | relative_url }}"></script>
		<meta name="theme-color" content="#c09a97">
		{{ page.custom_head }}
  </head>
  <body>
    {{ content }}
  </body>
</html>
