---
layout: page
---

	{{ content }}
<div class=ml-smaller>
	{%- assign t2038 = site.theme-2038 -%}
	{%- assign clink = t2038.category-links -%}
	<p>
		◷
		<time datetime="{{ page.date | date: '%Y-%m-%d' }}">
			{{ page.date | date: '%s' | minus: 1304092800 | divided_by: 86400 }} DM
		</time>
	</p>
	{%- if page.categories.size != 0 -%}
	<p>
		⌸
		{%- for category in page.categories -%}
		{%- assign cescape = category | uri_escape -%}
		{%- assign now-array = clink | map: category -%}
		{%- if now-array.size == 0 -%}
		<a rel="index" href="
			{{ t2038.category-dir | default: '/category/' | append: cescape | relative_path }}
			">{{ category }}</a>
		{%- else -%}
		<a rel="index" href="{{ now-array | first }}">{{ category }}</a>
		{%- endif -%}
		{%- endfor -%}
	</p>
	{%- endif -%}
	{%- assign tlink = t2038.tag-links -%}
	{%- if page.tags.size != 0 -%}
	<p>
		⌸
		{% for tag in page.tags -%}
		{%- assign tescape = tag | uri_escape -%}
		{%- assign now-array = tlink | map: tag -%}
		{%- if now-array.size == 0 -%}
		<a rel="index" href="
			{{ t2038.tag-dir | default: '/tag/' | append: tescape | relative_path }}
			">{{ tag }}</a>
		{%- else -%}
		<a rel="index" href="{{ now-array | first }}">{{ tag }}</a>
		{%- endif -%}
		{%- endfor -%}
	</p>
	{%- endif -%}
</div>

<nav class=ml-chokolate>
	{%- if page.previous -%} <a href="{{ page.previous.url }}">〈{{ page.previous.title }}</a>
	{%- else -%}<span>Ø</span>{%- endif -%}
	{%- if page.next -%} <a href="{{ page.next.url }}">{{ page.next.title }}〉</a>
	{%- else -%}<span>Ø</span>{%- endif -%}
</nav>

